%btn{
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;

    &:hover{
        background-color: $teritiory-color;
        transform: scale(.98);
        cursor: pointer;
    }
}
.btn-primary{
    @extend %btn;
    background-color: $secondary-color;
}
.btn-secondary{
    @extend %btn;
    background-color: $secondary-color;
}