$light-color:#f4f4f4;
$primary-color: rgb(36, 36, 36);
$secondary-color:rgb(249, 123, 188);
$teritiory-color: rgb(0, 199, 254);


// set color based on background//

@function set-text-color($color){
    @if(lightness($color)>70){
        @return #333;
    }
    @else{
        @return #fff;
    }
}

//set background and text color//

@mixin set-background($color){
    background-color: $color;
    color: set-text-color($color);
}

// margin and padding Classes

$spacemounts:(1,2,3,4,5);

@each $space in $spaceamounts{
    .m-#{$space}{
        margin: #{$space}rem;
    }
    .my-#{space}{
        margin: #{$space}rem 0;
    }
}