$light-color:#f4f4f4;
$primary-color: rgb(43, 43, 43);
$secondary-color: rgba(26, 25, 31, 0.846);
$teritiory-color: rgb(0, 199, 254);


// set color based on background//

@function set-text-color($color){
    @if(lightness($color)>70){
        @return #333;
    }
    @else{
        @return #fff;
    }
}